body{
  text-align: center;
  font-style: italic;
  color: black;

}
.recipe{
  margin: auto;
  text-align: center;
  background-color: black;
  border: 1px double black;
  border-radius: 10px;
  width: 700px;
}
img{
  margin: 0px 15px 15px 40px;
}
ul{
  text-align: left;
}
