div {
    width: 30%;
    height: 30px;
    border: 1px solid black;
    border-radius: 15px;
    padding: 50px;
    background-color: grey;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-color: #edbe93;
}
button{
  display: absolute;
  margin: auto;
}
